<!DOCTYPE html>
<html>
  <head>
    <title>CandidateXYZ</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:700" rel="stylesheet">
    <link type="text/css" href="/material-components-web.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div id="root"></div>

    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <script src="/material-components-web.min.js"></script>
    <script>mdc.autoInit()</script>
  </body>
</html>
